* {
  background-color:	#FF69B4;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

header {
  font-size: 2em;
  background-image: url(https://i.imgur.com/5JAVAok.png);
  background-repeat: repeat;
  margin-bottom: 30px;
}

#flavor-text {
  max-width: 900px;
  text-align: justify;
}

body {
  background-image: url(https://i.imgur.com/5JAVAok.png);
  background-repeat: cover;
  width: 100%;
  height: 100%;
}

#ru-gif {
  width: 500px;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  background: none;
  display: block;
  font-size: 20px;
}

#form {
  background: none;
  display: flex;
  flex-direction: row;
  
}

h1 {
  font-family: 'Limelight', cursive;
  background: none
}

h3 {
  background: none;
}

#enter-info-here {
  background: none;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

#enter-info-here p{
  padding-bottom: 0;
  max-width: 900px;
  margin-top: 30px;
  text-align: justify;
}
#enter-info-here h3{
  padding-bottom: 0;
  max-width: 900px;
  display: inline-block;
  text-align: justify;
  margin-top: 30px;
}
#enter-info-here img {
  padding-bottom: 0;
  max-width: 900px;
  display: inline-block;
  margin: 20px auto ;
}
#enter-info-here h1 {
  padding-bottom: 0;
  display: inline-block;
  max-width: 900px;
}

footer {
  background:none;
  background-repeat: repeat;
  font-size: 12px;
  max-width: 900px;
  margin-top: 80px;
  text-align: justify;
  padding-bottom: 5px;
}

* background-image {
  background-position: fixed;
}

/* media  */